@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #23242a;
}

.container {
  position: relative;
  width: 480px;
  min-height: 600px;
  height: fit-content;
  background-color: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.container::before,
.container::after,
.borderLine::before,
.borderLine::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 480px;
  min-height: 600px;
  height: fit-content;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.container::after {
  animation-delay: -3s;
}

.borderLine::after {
  animation-delay: -4.5s;
}

.borderLine::before {
  animation-delay: -1.5s;
}

.borderLine::before,
.borderLine::after {
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ff2770,
    #ff2770,
    #ff2770
  );
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container form {
  position: absolute;
  inset: 4px;
  background-color: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.container form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.container form .form-group {
  position: relative;
  width: 100%;
  margin-top: 35px;
}

.container form .form-group input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  transition: 0.5s;
  z-index: 10;
}

.container form .form-group label {
  position: absolute;
  right: 0;
  padding: 20px 0px 10px;
  color: #8f8f8f;
  font-size: 1em;
  transition: 0.5s;
}

.container form .form-group input:valid ~ label,
.container form .form-group input:focus ~ label {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}

.container form .form-group i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
}

.container form .form-group input:valid ~ i,
.container form .form-group input:focus ~ i {
  height: 44px;
}

.container form .links {
  display: flex;
  justify-content: space-between;
}

.container form .links a {
  margin: 10px 0;
  font-size: 0.75rem;
  color: #8f8f8f;
  text-decoration: none;
  transition: 0.4s;
}

.container form .links a:hover,
.container form .links a:nth-child(2) {
  color: white;
}

.container form .form-btn {
  border: none;
  outline: none;
  padding: 9px 25px;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  margin-top: 10px;
}

.container form .form-btn:active {
  opacity: 0.8;
}

@media screen and (max-width: 380px) {
     .container {
        width: 300px;
      }
}

::-webkit-scrollbar-thumb:hover {
  background: #e0891a; 
}

::-webkit-scrollbar-thumb:active {
  background: #c66d10; 
}
*{
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}
*::selection{
  background-color: #f5a425;
  color: #fff;
  text-decoration: underline;}

  
@media screen and (max-width: 300px) {
     .container {
        width: 270px;
      }
}
